body {
    background: linear-gradient(-45deg, #F4F6F6, #FF9C91, #643ecd, #1C2938);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Oxygen', Sans-Serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar {
    font-size: 18px;
    background-color:#000;
    border-bottom: #f0f0f0 4px solid;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links, .logo, .material-icons {
    text-decoration: none;
    color: ghostwhite;
}

.main-nav li {
    text-align: center;
    margin: 10px auto;
}

.logo {
    display: flex;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 30px;
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.logo p {
    margin-top: 12px;
    padding-left: 5px;
}

.toggle-nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

.material-icons {
    font-size: 24px;
}

.active {
    display: block;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


.jumbotron {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    top: -120px;
    box-shadow: 0 4px 8px 0 rgba(7, 226, 241, 0.2), 0 6px 20px 0 rgba(2, 203, 253, 0.19);
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150vh;
    background-color: #f0f0f0;
    border-radius: 20px;
    position: relative;

}

.game-section {
    padding: 50px;
    margin: 20px;
    position: absolute;
    bottom:10px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    right: 300px;
    height: 30vh;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(7, 226, 241, 0.2), 0 6px 20px 0 rgba(2, 203, 253, 0.19);
}



.nav-links:hover {
    cursor: pointer;
    color: white;
    text-shadow: 3px 0px 3px white;
}
    


/* For large screen more than 600 */

@media screen and (min-width:600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .toggle-nav {
        display: none;
    }
    .main-nav {
        display: flex;
        justify-content: end;
        margin-right: 30px;
    }
    .main-nav>li {
        margin: 0;
    }
    .nav-links {
        margin-left: 20px;
    }
    .logo {
        margin-top: 0;
    }
}

.game{
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(7, 226, 241, 0.2), 0 6px 20px 0 rgba(2, 203, 253, 0.19);
}
#games {
    display:grid;
    justify-content:space-around;
}

#game1 {
    background-color:green;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    height: 100px;
    width: 100px;
    bottom: 200px;
}
#game2 {
    background-color:blue;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    height: 100px;
    width: 100px;
    bottom: 180px;
}

