* {
    background-color: black;
}

img {
    width: 40%;
    height : 30%;
}

.rightContent{
    position: absolute;
    right:10px;
    top: 45px;
    width: 50%;
    
}

#h1{
   color: white;
   font-size: 45px;
}

#p{
    color:white;
    font-size: 15px;
}

#p1{
    position: absolute;

    bottom:10px;
    left: 30px;
    color:white;
    font-size: 17px;
    font-family: Serif	;
    background-color:rgb(24, 23, 23);
}

#p2{
    position: absolute;

    bottom:10px;
    left: 30px;
    color:white;
    font-size: 17px;
    font-family: Serif	;
    background-color:rgb(24, 23, 23);
}

#p3{
    position: absolute;

    bottom:10px;
    left: 30px;
    color:white;
    font-size: 17px;
    font-family: Serif	;
    background-color:rgb(24, 23, 23);
}

.box1{
    width: 200px;
    height: 100px;
    padding: 50px;
    margin: 20px;
    border-style: outset;
    position: absolute;
    bottom:10px;
    left: 45px;
    background-color:rgb(24, 23, 23);
}


.box2{
    width: 200px;
    height: 100px;
    padding: 50px;
    margin: 20px;
    border-style: outset;
    position: absolute;
    bottom:10px;
    left: 475px;
    background-color:rgb(24, 23, 23);
}

.box3{
    width: 200px;
    height: 100px;
    padding: 50px;
    margin: 20px;
    border-style: outset;
    position: absolute;
    bottom:10px;
    right: 45px;
    background-color:rgb(24, 23, 23);
}