<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css">
</head>

<body>
    <header>
            <h2>Guess The Color</h2>
    </header>
    

    <% if (results=="Choose Color" || results=="You Win") { %>
        <div class="alert alert-success">
            <%= results %>
        </div>
    <% } %>

    <% if (results=="You lose") { %>
        <div class="alert alert-danger">
            <%= results %>
        </div>
    <% } %>


   
    <section id="guess-the-color">
        <a id="color1" class="color" href="/guess1"></a>
        <a id="color2" class="color" href="/guess2"></a>
        <a id="color3" class="color" href="/guess3"></a>
        <br>
        <br>
    </section>
    <div class="button">
        <button class="glow-on-hover" type="button" onclick="window.location.href='/color'">Paly again</button>
        <button class="glow-on-hover" type="button" onclick="window.location.href='/'"> Change Game</button>
    </div>
        
    <footer class="page__footer">
        <p>&copy Amir and Haridy</p>
    </footer>
</body>

</html>