<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
            <h2>Paper Rock Scissor</h2>
    </header>
        <section id="paper-rock-scissor">
            <a id="paper" class="color" href=""><img src="paper.jpeg" alt=""></a>
            <a id="rock" class="color" href=""><img src="rock.jpeg" alt=""></a>
            <a id="scissor" class="color" href=""><img src="scissor.jpeg" alt=""></a>
            <br>
            <br>
            <div id="replay-or-return">
                <a id="play-again-button-prs" href="" tooltip="play again">Play Again</a> 
                <a id="change-game-button" href="" tooltip="change game">Change Game</a>
            </div>
        </section>
    <footer class="page__footer">
        <p>&copy Amir Und Haridy</p>
    </footer>
</body>

</html>